
//BIOGRAFIA 

.contenido__biografia {
	@include grid (repeat(auto-fit, minmax(300px, 1fr)), 40px);
	padding-bottom: 90px;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 768px){
		@include grid (repeat(auto-fit, minmax(600px, 1fr)), 40px);
	}
}
.img__biografia {
	img {
		width: 100%;
		height: auto;
		max-width: 300px;
		grid-column: 1/2;
		padding: 20px;
		border: $bordes;

		@media screen and (min-width: 768px) {
			max-width: 600px;
		}
	}

	@media screen and (max-width: 1200px) {
		grid-column: 1/3;
		padding: 20px;
		margin: auto;
		flex-grow: 1;
	}
}
.acordeon {
	grid-column: 1/3;

	@media screen and (min-width: 768px){
		grid-column: 2/3;
	}

	@media screen and (max-width: 1200px) {
		grid-column: 1/3;
	}
}
.acordeon__details {
	padding: 1em;
	border: $bordes;
	width: 300px;
	margin: 20px auto;
	font-size: 1.5rem;
	

	@media screen and (min-width: 768px){
		width: 600px;
	}
}

.acordeon__details__summary {
	outline: none;
	color: $colorBlanco;
	font-size: 1.5rem;
	padding: 5px 0;
	font-family: $tipoUno;
	font-size: 1em;
	font-weight: 600;
}
>.acordeon__details__summary {
	&::-webkit-details-marker {
		color:$colorBlanco;
	}
}
.acordeon__details__p {
	margin-top: 10px;
	font-family: $tipoDos;
	font-weight: 400;
	color: $colorBlanco;
	font-size: 0.8em;
	text-align: justify;
}